/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        mm1: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END) &kp LC(C)>;
            label = "NEW_MACRO";
        };

        mm2: mm2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp ENTER &kp LC(V)>;
            label = "MM2";
        };

        mm3: mm3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_9) &kp LS(NUMBER_0) &kp LEFT>;
            label = "MM3";
        };

        mm4: mm4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_BRACKET) &kp LS(RIGHT_BRACKET) &kp LEFT_ARROW>;
            label = "MM4";
        };

        mm5: mm5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "MM5";
        };

        mm6: mm6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SQT) &kp LS(SQT) &kp LEFT>;
            label = "MM6";
        };

        mm7: mm7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
            label = "MM7";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2       &kp N3     &kp N4        &kp N5                                 &kp N6           &kp N7        &kp N8        &kp N9         &kp N0         &kp MINUS
&kp ESC    &kp Q   &kp W        &kp E      &kp R         &kp T                                  &kp Y            &kp U         &kp I         &kp O          &kp P          &kp BACKSLASH
&kp TAB    &kp A   &kp S        &kp D      &kp F         &kp G                                  &kp H            &kp J         &kp K         &kp L          &kp SEMICOLON  &kp SQT
&kp LSHFT  &kp Z   &kp X        &kp C      &kp V         &kp B                                  &kp N            &kp M         &kp COMMA     &kp DOT        &kp FSLH       &kp RSHIFT
&mm1       &mm2    &lt 1 SPACE  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp TAB  &kp LEFT_WIN  &kp RIGHT_SHIFT  &lt 4 DELETE  &lt 3 RETURN  &kp BACKSPACE  &kp C_VOL_DN   &kp C_VOL_UP
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&none              &none         &none         &none         &none         &none                       &none         &none          &none          &none         &none         &none
&kp C_MUTE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8   &kp NUMBER_9  &kp NUMBER_0  &none
&kp F1             &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                      &none         &kp EQUAL      &kp MINUS      &none         &none         &none
&kp F7             &kp F8        &kp F9        &kp F10       &kp F11       &kp F12                     &none         &kp LS(EQUAL)  &kp LS(MINUS)  &none         &none         &none
&kp C_VOLUME_DOWN  &kp C_VOL_UP  &none         &none         &none         &none         &none  &none  &none         &none          &none          &none         &none         &none
            >;
        };

        layer_2 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &none  &none  &none  &none  &none       &none
&none       &none         &none         &none         &none         &none                       &none  &none  &none  &none  &none       &none
&none       &none         &none         &none         &none         &none                       &none  &none  &none  &none  &none       &none
&none       &none         &none         &none         &none         &none                       &none  &none  &none  &none  &none       &none
&none       &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none  &bt BT_PRV  &bt BT_NXT
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans            &trans    &trans             &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp LS(LC(LEFT))  &kp UP    &kp LS(LC(RIGHT))  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp LEFT          &kp DOWN  &kp RIGHT          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp LS(LEFT)      &trans    &kp LS(RIGHT)      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans    &trans             &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &kp NUMBER_1  &kp K_SLEEP
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &mm3    &mm4    &mm5    &mm6          &mm7
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans
            >;
        };
    };
};
